@import "reset.css";

body{
    width: 100%;
    font-family: Arial,"Niagara Engraved","Times New Roman";
}


ul li{
    display: inline-block;
    width: 24%;
    text-align: center;
    background-image: linear-gradient(aliceblue,);
}

form{
margin: 100px  5% 0 40%;
}

input{
padding: 2%;
    width: 15%;
    font-size: 25px;
    font-weight: bold;
color: blue;
    background-image: linear-gradient(azure,aliceblue);
    outline: 2px blue solid;
    margin-bottom: 50px;

}
 label{
    line-height: 40px;
     font-weight: bold;
}